<!DOCTYPE html>
<html lang="en">
<head>
    <title>Employees</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
<div class="container">
    {% include 'nav_admin.html' %}
    <br>
    <div class="table-responsive">
        <table class="table" id="myTable">
            <thead class="thead-dark">
            <tr>
                <th onclick="sortTable(0)">Project</th>
                <th>Link</th>
                <th>No. of Pages</th>
                <th>Approve</th>
                <th>Reject</th>
            </tr>
            </thead>
            {% for u in links %}
                <tr>
                    <td style="padding:0 5px 0 5px;">{{ u.domain }}</td>
                    <td style="padding:0 5px 0 5px;"><a href="{{ u.link }}">Go To Page</a></td>
                    <td style="padding:0 5px 0 5px;" contenteditable="true">
                        <div id="{{ u.domain }}">{{ u.nop }}</div>
                    </td>
                    <td style="padding:0 5px 0 5px;"><a id="{{ u.domain }}1"
                                                        href="/admin/manage/approve?cnm={{ u.cnm }}&a=1&nop="
                                                        onclick="getContent('{{ u.domain }}')"><span
                            class="glyphicon glyphicon-ok" style="color:green"></span></a></td>
                    <td style="padding:0 5px 0 5px;"><a href="/admin/manage/approve?cnm={{ u.cnm }}&a=2&nop=0"
                                                        onclick="return confirm('Remove : {{ u.domain }}')"><span
                            class="glyphicon glyphicon-remove" style="color:red"></span></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>

<script>
    function getContent(dom) {
        var a = document.getElementById(dom).innerHTML;
        var dom1 = dom + "1"
        var old = document.getElementById(dom1).getAttribute("href")
        var newurl = old + a
        document.getElementById(dom1).href = newurl
    }
</script>

</body>
</html>